/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #7a0000;
  overflow-x: hidden;
} */

/* Animation */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}  */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 🔥 important */
}

body {
  font-family: "Times New Roman", Times, serif;
}